<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
 
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
  <script src= "{{ url_for('static',filename='../static/scripts.js') }}"></script>
  <!-- <link rel="stylesheet" type="text/css" href="./style2.css"> -->
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='../static/style/style.css') }}">


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DumbPlanner</title>
</head>

<body>
  <h1 style="margin-top: 50px; text-align: center;">Dumb Planner (for CS major only)</h1>
  <h2 style="margin-top: 50px; text-align: center;">Please input the courses you have enrolled in every quarter: </h2>

  <div class="container">
    <form method="POST">
    <div class="row r1">
      <div class="col-sm-4 c1">
        <h3>Fall</h3>

        <div class="input_fields_wrap">
          <button class="add_field_button">Add More Fields</button>
          <div class="courseList">
            
              <input type="text" class="form-control" name="course" placeholder="CMPSC8" id="courseHolder"> <br>
              <input type="text" class="form-control" name="course" id="courseHolder"> <br>
              <input type="text" class="form-control" name="course" id="courseHolder"> <br>
              <input type="text" class="form-control" name="course" id="courseHolder"> <br>
            
          </div>
        </div>
      </div>

      <div class="col-sm-4 c2">
        <h3>Winter</h3>
        <div class="input_fields_wrap">
          <button class="add_field_button">Add More Fields</button>
          <div>
            <!--<form class="courseList" method="POST">-->
              <input type="text" class="form-control" name="course" placeholder="CMPSC8" id="courseHolder"> <br>
              <input type="text" class="form-control" name="course" id="courseHolder"> <br>
              <input type="text" class="form-control" name="course" id="courseHolder"> <br>
              <input type="text" class="form-control" name="course" id="courseHolder"> <br>
            <!--</form>-->
          </div>
        </div>
      </div>
        <div class="col-sm-4 c3">
          <h3>Spring</h3>
          <div class="input_fields_wrap">
            <button class="add_field_button">Add More Fields</button>
            <div>
              <!--<form class="courseList" method="POST"-->
                <input type="text" class="form-control" name="course" placeholder="CMPSC8" id="courseHolder"> <br>
                <input type="text" class="form-control" name="course" id="courseHolder"> <br>
                <input type="text" class="form-control" name="course" id="courseHolder"> <br>
                <input type="text" class="form-control" name="course" id="courseHolder"> <br>
              <!--</form>-->
            </div>
          </div>
        </div>
    </div>
 <!--First row-->
        <div class="row r2">
          <div class="col-sm-4 c1">
        <h3>Fall</h3>

        <div class="input_fields_wrap">
          <button class="add_field_button">Add More Fields</button>
          <div>
            <!--<form class="courseList" method="POST">-->
              <input type="text" class="form-control" name="course" placeholder="CMPSC8" id="courseHolder"> <br>
              <input type="text" class="form-control" name="course" id="courseHolder"> <br>
              <input type="text" class="form-control" name="course" id="courseHolder"> <br>
              <input type="text" class="form-control" name="course" id="courseHolder"> <br>
            <!--</form>-->
          </div>
        </div>
      </div>

      <div class="col-sm-4 c2">
        <h3>Winter</h3>
        <div class="input_fields_wrap">
          <button class="add_field_button">Add More Fields</button>
          <div>
            <!--<form class="courseList" method="POST">-->
              <input type="text" class="form-control" name="course" placeholder="CMPSC8" id="courseHolder"> <br>
              <input type="text" class="form-control" name="course" id="courseHolder"> <br>
              <input type="text" class="form-control" name="course" id="courseHolder"> <br>
              <input type="text" class="form-control" name="course" id="courseHolder"> <br>
            <!--</form>-->
          </div>
        </div>
      </div>
        <div class="col-sm-4 c3">
          <h3>Spring</h3>
          <div class="input_fields_wrap">
            <button class="add_field_button">Add More Fields</button>
            <div>
              <!--<form class="courseList" method="POST">-->
                <input type="text" class="form-control" name="course" placeholder="CMPSC8" id="courseHolder"> <br>
                <input type="text" class="form-control" name="course" id="courseHolder"> <br>
                <input type="text" class="form-control" name="course" id="courseHolder"> <br>
                <input type="text" class="form-control" name="course" id="courseHolder"> <br>
              <!--</form>-->
            </div>
          </div>
        </div>
    </div>
 <!--Second Row-->
          <div class="row r3">
            <div class="col-sm-4 c1">
        <h3>Fall</h3>

        <div class="input_fields_wrap">
          <button class="add_field_button">Add More Fields</button>
          <div>
            <!--<form class="courseList" method="POST">-->
              <input type="text" class="form-control" name="course" placeholder="CMPSC8" id="courseHolder"> <br>
              <input type="text" class="form-control" name="course" id="courseHolder"> <br>
              <input type="text" class="form-control" name="course" id="courseHolder"> <br>
              <input type="text" class="form-control" name="course" id="courseHolder"> <br>
            <!--</form>-->
          </div>
        </div>
      </div>

      <div class="col-sm-4 c2">
        <h3>Winter</h3>
        <div class="input_fields_wrap">
          <button class="add_field_button">Add More Fields</button>
          <div>
            <!--<form class="courseList" method="POST">-->
              <input type="text" class="form-control" name="course" placeholder="CMPSC8" id="courseHolder"> <br>
              <input type="text" class="form-control" name="course" id="courseHolder"> <br>
              <input type="text" class="form-control" name="course" id="courseHolder"> <br>
              <input type="text" class="form-control" name="course" id="courseHolder"> <br>
            <!--</form>-->
          </div>
        </div>
      </div>
        <div class="col-sm-4 c3">
          <h3>Spring</h3>
          <div class="input_fields_wrap">
            <button class="add_field_button">Add More Fields</button>
            <div>
              <!--<form class="courseList" method="POST">-->
                <input type="text" class="form-control" name="course" placeholder="CMPSC8" id="courseHolder"> <br>
                <input type="text" class="form-control" name="course" id="courseHolder"> <br>
                <input type="text" class="form-control" name="course" id="courseHolder"> <br>
                <input type="text" class="form-control" name="course" id="courseHolder"> <br>
              <!--</form>-->
            </div>
          </div>
        </div>
    </div>
<!--Third row-->
          <div class="row r4">
            <div class="col-sm-4 c1">
        <h3>Fall</h3>

        <div class="input_fields_wrap">
          <button class="add_field_button">Add More Fields</button>
          <div>
            <!--<form class="courseList" method="POST">-->
              <input type="text" class="form-control" name="course" placeholder="CMPSC8" id="courseHolder"> <br>
              <input type="text" class="form-control" name="course" id="courseHolder"> <br>
              <input type="text" class="form-control" name="course" id="courseHolder"> <br>
              <input type="text" class="form-control" name="course" id="courseHolder"> <br>
            <!--</form>-->
          </div>
        </div>
      </div>

      <div class="col-sm-4 c2">
        <h3>Winter</h3>
        <div class="input_fields_wrap">
          <button class="add_field_button">Add More Fields</button>
          <div>
            <!--<form class="courseList" method="POST">-->
              <input type="text" class="form-control" name="course" placeholder="CMPSC8" id="courseHolder"> <br>
              <input type="text" class="form-control" name="course" id="courseHolder"> <br>
              <input type="text" class="form-control" name="course" id="courseHolder"> <br>
              <input type="text" class="form-control" name="course" id="courseHolder"> <br>
            <!--</form>-->
          </div>
        </div>
      </div>
        <div class="col-sm-4 c3">
          <h3>Spring</h3>
          <div class="input_fields_wrap">
            <button class="add_field_button">Add More Fields</button>
            <div>
              <!--<form class="courseList" method="POST">-->
                <input type="text" class="form-control" name="course" placeholder="CMPSC8" id="courseHolder"> <br>
                <input type="text" class="form-control" name="course" id="courseHolder"> <br>
                <input type="text" class="form-control" name="course" id="courseHolder"> <br>
                <input type="text" class="form-control" name="course" id="courseHolder"> <br>
              <!--</form>-->
            </div>
          </div>
        </div>
    </div>
<!--Forth row-->

          <input type="submit" class="btn btn-info btn-block bt-submit" value="Submit">
        </form>
          <div style="margin-top: 50px; margin-bottom: 100px;">
            <h3>You still need these courses:<br></h3>
            <p style="font-family: Arial, Verdana, Sans-serif; font-size: 20px; margin-left: 50px; 
            margin-right: 50px;">{{output}}</p>
          </div>
          

</body>

</html>
